/* Structure de base */
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Raleway','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* HAUT de la page*/
.container{
    width: 90%;
    margin: auto;
    position: relative;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 15px;
}    


aside{
    background-color: #c4c4c4;
}


/* Centre de la page */

.content{
    display: flex;
}

.sidebar{
    margin-left: 1%;
    margin-right: 1%;
    background: #DCDCDC;
    width: 30%;
    padding: 2%;
    border-radius: 20px;
}

.emile:nth-child(1){
    background-color: white;
    position: relative;
    float: left;
    width: 300px;
    padding: 10px;
    flex-wrap: wrap;
    border: 3px white;
    border-radius: 20px;
}
.emile img{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.creative:nth-child(2){
    background-color: white;
    position: relative;
    float: left;
    width: 300px;
    padding: 10px;
    flex-wrap: wrap;
    border: 3px white;
    border-radius: 20px;
}

.creative img{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.febria2:nth-child(3){
    background-color: white;
    position: relative;
    float: left;
    width: 300px;
    padding: 10px;
    flex-wrap: wrap;
    border: 3px white;
    border-radius: 20px;
}
.febria2 img{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

/* HEBERGEMENT */
.hébergements{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #DCDCDC;
    width: 80%;
    height: auto;
    border-radius: 20px;
}

.hébergements article{
    background-color: white;
    margin-bottom: 1%;    
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

.hébergements img{
    width: 230px;
    height: auto;
    border-radius: 20px 20px 0px 0px;     
}

.cadre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.cadre1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

/* ACTIVITES */

.activités{
    width: 100%;
    padding: 20px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 100px;
    flex-direction: row;
    flex-wrap: wrap;
}

.vieuxport:nth-child(1){
    width: 250px;
    height: 100px;
}

.vieuxport img{
    width: 235px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}

.fort:nth-child(2){
    width: 150px;
    height: 100px;
}

.fort img{
    width: 235px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}


.ilesdufrioul:nth-child(3){
    width: 150px;
    height: 100px;
}

.ilesdufrioul img{
    width: 235px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}


.parcnational:nth-child(4){
    width: 150px;
    height: 100px;
}

.parcnational img{
    width: 235px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}

.notredame:nth-child(5){
    width: 150px;
    height: 100px;
}

.notredame img{
    width: 235px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}

.parclongchamp:nth-child(6){
    width: 150px;
    height: 100px;
}

.parclongchamp img{
    width: 235px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}

.contenu-footer{
    background: #DCDCDC;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
    flex-direction: row;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}

.liste-services{
    list-style-type: none;
    
}

@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }